main {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background: #00755E;
    border-radius: 10px;
    font-size: 30;
}

section {
    display: none;
    padding: 10px 0 0;
    border-top: 5px solid #ddd;
    color: white;
    font-size: 30;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-size: 25px;
    text-align: center;
    color: #e74c3c;
    border: 1px solid transparent;
}

label:before {
    font-family: Futura Bk Bt;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+label {
    color: black;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
    background-color: white;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
}

#wrapper {
    margin: 0;
    font-family: Futura Bk Bt;
}

#wrapper>* {
    border-radius: 5px;
}

#leftcolumn {
    width: 59%;
    height: 100%;
    float: left;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    padding-right: 0px;
}

#rightcolumn {
    width: 40%;
    height: 100%;
    background-color: #339ACC;
    float: right;
    border-radius: 10px;
    padding-right: 0px;
}

@media screen and (max-width: 1600px) {
    #rightcolumn {
        width: 100%;
    }
}

@media screen and (max-width: 1600px) {
    #leftcolumn {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1610px) {
  main {
height: 936px;
}}