<style>
    .applybackground {
        background-color: #75b73e;
        color: white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        padding: 10px;
        max-height: none !important;
    }
    md-tabs-wrapper.md-stretch-tabs md-pagination-wrapper {
        width: 500px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .mainscreen {
            border: 1px solid #ddd;
        }
        /* .suggestiontable {
            overflow-y: auto;
            border: 1px solid #ddd;
        } */
        .tablefordata {
            height: 50px;
            min-height: 50px;
            padding: 15px;
            background-color: #75b73e;
            color: white;
        }
        .data {
            height: 40px;
            min-height: 40px;
            max-height: 40px;
            border-bottom: 1px solid #ddd;
        }
    }

    .tablefordata {
        padding: 8px;
        background-color: #ddd;
        color: black;
    }

    .data {
        margin: 7px;
        border-bottom: 1px solid #ddd;
    }

    .tab {
        border-top: 1px solid #75b73e;
    }

    button {
        background-color: #75b73e !important;
        text-transform: capitalize !important
    }

    .navbarforsuggestions {
        border-bottom: 1px solid #ddd;
        background-color: #ddd;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
    }
    .grid {
    flex-wrap:wrap;
    width:100px;
}
img
    md-pagination-wrapper {
        border-bottom: 1px solid #ddd !important;
    }
</style>
<div layout="column" flex>
    <ul layout="row" layout-align="start start" class="navbarforsuggestions">
        <div class="tablinks" ng-repeat="data in searchresults" ng-hide="data == 'Suggestions' &&  rootcompanynames.length == 0"
            ng-class="{ 'applybackground' : data == searchvalue }" style="width: 150px; text-align: center;padding-top:15px;border-left: 1px solid white;
                border-right: 1px solid white;
                height: 50px;" ng-click="mainToolbarChange($index)">
            <span>{{data}}</span>
        </div>
    </ul>
    <div style="margin:5px;font-size:18px;" layout="row" layout-align="center center" ng-show="searchvalue =='Suggestions' && rootcompanynames.length != 0">
        <b>Did you mean to search for any of the following companies? If not, please click on
            <a ng-click="websearch1()">"
                <span style="text-decoration:underline;cursor:pointer">Web Search</span>"</a>
        </b>.
    </div>
    <div  layout="column" flex style="display: inline-block;" ng-show="searchvalue =='Suggestions'">
        <div layout="column" flex="50"  class="suggestiontable" ng-hide="rootcompanynames.length == 0">
            <div layout="row"  class="tablefordata sticky">
                <div flex="10"  style="padding-left:13px;">
                    <b>Logo</b>
                </div>
                <div flex="30">
                    <b>Company Name</b>
                </div>
                <div flex="10">
                    <b>Stock Symbol</b>
                </div>
                <div flex="10">
                    <b>Stock Exchange</b>
                </div>
                <div layout="row" flex="40" layout-align="end end" ng-show="LoadingShow == false && rootcompanynames.length != 0 " class="heightforstatement">
                    <button type="submit" class="btn btn-default btn-success" ng-click="getcompanylist(rootcompanynames[selectedCompanyIndex[0]])"
                        style="background-color:#006a4d !important;width: 80px;color: white !important;" ng-hide="rootcompanynames[selectedCompanyIndex[0]] == undefined">Next</button>
                </div>
            </div>
            <div layout="row" flex="50" class="card" style="max-height: 116px; min-height: 116px; height: 116px;" ng-repeat="data in rootcompanynames" ng-click="selectedCompanyIndex[0] = (selectedCompanyIndex[0] == $index ? null : $index);">
                <div flex="10" style="margin-top:15px; margin-left: 10px">
                    <img src="{{data['logo']}}" ng-hide="data['logo'] == undefined" width="80px" height="80px" style="padding-bottom: 6px;">
                    <img src="https://career.utk.edu/wp-content/uploads/sites/56/2017/06/image_preview.jpg" style="padding-bottom: 6px;" ng-show="data['logo'] == undefined"
                        width="80px" height="80px">
                </div>
                <div flex="30">
                    <p style="margin-top:45px;">{{data['Company']}}</p> 
                </div>
                <div flex="10">
                    <p style="margin-top:45px;">{{data['Symbol']}}</p>
                </div>
                <div flex="10">
                    <p style="margin-top:45px;">{{data['Stock_exchange']}}</p>
                </div>
                <div class="check">
                    <img ng-src="{{selectedCompanyIndex[0] == $index ? 'images/icons/icons/round-chk-d-gray.svg' : 'images/icons/icons/round-chk-l-gray.svg'}}"
                        style="cursor: pointer;width:115px;min-width:115px;max-width:115px;margin-left: 43%;" 
                    />
                </div>
            </div>
        </div>
    </div>
    <md-content flex ng-show="searchvalue =='Web Search'">
        <div style="min-height: 40px; max-height: 40px; height: 40px;" layout="row" ng-hide="menuData.length == 0" layout-align="space-between center">
            <div ng-show="LoadingShow == false || intermediateresults[menu] == ''">
                <b style="font-size:18px !important;margin-left: 10px;">Please select company profiles for the searched company</b>
            </div>
            <div layout="row" layout-align="end end" style="margin-right: 10px;margin-bottom: 4px;" ng-show="LoadingShow == false || intermediateresults[menu] == ''">
                <button type="submit" class="btn btn-default btn-success" ng-click="proceedfinal($event)" style="width: 80px;background-color:#006a4d !important;text-transform:none !important;color: white !important">Next</button>
            </div>
        </div>
        <div flex layout="row" layout-align="center center" ng-show="menuData.length == 0 && LoadingShow == false">
            <p>No Companies found</p>
        </div>
        <md-tabs  md-dynamic-height md-stretch-tabs="always" md-border-bottom style="height: 76% !important; min-height: 76%;margin-left: 10px;" md-selected="selectedIndex">
            <md-tab ng-repeat="(index, menu) in menuData">
                <md-tab-label ng-click="selectedIndex = $index">
                    <div layout="row">
                        <div style="cursor: pointer" layout="row" layout-align="start center" ng-hide="intermediateresults[menu] == ''">
                            <img src="{{images[menu]}}" style="width:25px; margin-right:10px;">
                            <span>
                                <span>{{menu}}&nbsp;</span>
                                <center class="badge">{{intermediateresults[menu][0] == 'No profiles found' ? 0: intermediateresults[menu].length}}</center>
                            </span>
                        </div>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-align="center center" ng-hide="intermediateresults[menu] == '' || LoadingShow == true" style="padding-top:10px;">
                        <b>Please select the "{{menuData[selectedIndex]}} profile" by clicking on
                            <img src="images/icons/icons/round-chk-l-gray.svg" width=25>
                        </b>
                    </div>
                    <div layout="column">
                        <div layout="row" class="card" ng-show="intermediateresults[menuData[selectedIndex]]!= ''" ng-if="flag == 0" ng-repeat="details in intermediateresults[menuData[selectedIndex]]"  ng-click="selectedProfile[menu] = (selectedProfile[menu] == $index ? null : $index); menuChange(index);">
                                    <div flex="20" layout="column">
                                            <img ng-src="{{details.photourl}}" class="shadow3" alt="No image" ng-if="details.photourl" ng-hide="data == 'No profiles found'"
                                                style="margin:20px;">
                                            <img src="https://career.utk.edu/wp-content/uploads/sites/56/2017/06/image_preview.jpg" class="shadow3" alt="No image" ng-if="!details.photourl"
                                                style="margin:20px;">
                                        </div>
                                        <div flex="50" layout="column">
                                            <h2>
                                                <b>
                                                    <a target="_blank" href="{{details.profileurl}}"> {{details.profilename}}</a>
                                                </b>
                                            </h2>
                                            <p style="color:grey">{{details.worksat}}</p>
                                            <div>
                                                <span title="{{details.otherdetails}}">{{details.otherdetails | limitTo:120}}</span>
                                            </div>
                                        </div>
                                        <div class="check " id="slide-box-container">
                                            <img id="box1" ng-src="{{selectedProfile[menu] == $index ? 'images/icons/icons/round-chk-d-gray.svg' : 'images/icons/icons/round-chk-l-gray.svg'}}"
                                                style="cursor: pointer;width: 140px;"
                                            />
                                            </div>
                                </div>
                            </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>