<style>
    .card2 {
        height: 200px !important;
        width: 200px !important;
        padding: 13px;
        margin: 10px;
        background-color: #f7f7f7;
    }

    .card2:hover {
        background-color: #ddd;
    }

    .input-group-addon:first-child {
        background-color: #75b73e
    }

    .active {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background-color: #ddd;
    }

    .footer {
        height: 40px;
        min-height: 40px;
        max-height: 40px;
        background-color: #e4e4e4;
    }

    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child>.btn,
    .input-group-btn:first-child>.btn-group>.btn,
    .input-group-btn:first-child>.dropdown-toggle,
    .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
    .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-left-radius: 8px;
    }

    .input-group-addon {
        border-radius: 6px;
    }

    .button1 {
        color: #000 !important;
        text-transform: capitalize !important
    }

    .button1:hover {
        background-color: #75b73e !important;
        color: white!important;
    }

    .accountcircle {
        cursor: pointer;
        background-color: #75b73e;
        color: white;
        padding: 10px;
        margin: 5px;
        border-radius: 50%;
    }

    .content1 {
        padding: 10px;
        width: 250px;
    }

    .pointer {
        cursor: pointer;
    }

    .punchline {
        text-align: center;
        color: #75b73e;
        font-size: 16px;
        padding-top: 10px;
    }
    .searchbtn{
        width: 100px !important;
    margin: 0 10px;
    border: none;
    height: 35px;
    min-width: 113px !important;
    background-color: #006a4d !important;
    font-size: 17px;
    }
</style>

<div flex layout="column" ng-controller="landing_search_controller as ctrl">
    <div layout="row" layout-align="end end">
        <md-menu-bar>
            <span> Hi, {{username}} </span>
            <md-menu>
                <div layout="row" class="accountcircle">
                    <md-icon ng-click="$mdMenu.open()" class="material-icons" style="color:white;">account_circle</md-icon>
                </div>
                <md-menu-content class="content1">
                    <md-menu-item type="checkbox" ng-model="settings.allowChanges">Hi, {{username}}</md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item type="radio" ng-click="ctrl.showAdvanced($event)" class="pointer">Log Out</md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
    <div layout="column" flex>
        <div layout="column" flex layout-align="start center">
           <div layout="row">
            <img src="images/icons/icons/Ninja-logo.svg" width="150">
            <sup style="color: #da6e7e;    margin-top: 13px;
            margin-left: -6px;top:0px!important">Beta</sup>
           </div>
            <div class="punchline">A research platform</div>
            <div style="color:black;font-size:22px; font-weight: bold">What do you want to research about...</div>
            <div layout="column" layout-gt-xs="row" layout-align="center start">
                <div layout="row" style="width: 300px; min-width: 300px; max-width: 300px;" layout-align="center center" ng-class="{'active': isActive}"
                    ng-click="ctrl.companysearch()" class="card2">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                            <b style="font-size:20px;">Company</b>
                        </div>
                        <img src="images/icons/icons/company-2.svg">
                    </div>
                </div>
                <div layout="row" style="width: 300px; min-width: 300px; max-width: 300px;" layout-align="center center" ng-class="{'active': isActive1}"
                    ng-click="ctrl.personsearch()" class="card2">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                            <b style="font-size:20px;">Individual</b>
                        </div>
                        <img src="images/icons/icons/key-individual-2.svg">
                    </div>
                </div>
           <div layout="row" style="width: 300px; min-width: 300px; max-width: 300px;" layout-align="center center" ng-class="{'active': isActive2}" ng-click="ctrl.industrysearch()" class="card2">
                    <div layout="column">
                        <div layout="row" layout-align="center center">
                            <b style="font-size:20px;">Competitors</b>
                        </div>
                        <img src="images/Com.svg">
                    </div>
                </div>
            </div>
            <div ng-if="ctrl.companydiv">
                    <div flex style="margin: 0 10px" layout="column" layout-align="center center">
                        <form name="form" flex layout="column" layout-align="center center" style="margin: 0">
                            <div style="min-width: 430px; width: 430px;">
                                <div layout="column" flex>
                                    <div class="input-group" style="margin: 10px" flex>
                                        <div class="input-group-addon" style="border: none">
                                            <img src="images/icons/icons/company-2.svg" style="width: 20px;">
                                        </div>
                                        <md-autocomplete md-autofocus md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                            md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)"
                                            md-item-text="item.display_string" md-min-length="0" placeholder="Select Company Name/Ticker from the list or Search for it"
                                            title="Enter Company">{{item.Symbol}}
                                            <md-item-template>
                                                <span class="item-title">
                                                    <img ng-src="{{item.logo}}" ng-hide="item.logo == undefined" width="40" height="40" />
                                                    <img src="https://career.utk.edu/wp-content/uploads/sites/56/2017/06/image_preview.jpg" ng-show="item.logo == undefined"
                                                        width="40px" height="40px">
                                                    <span style="overflow: hidden;text-overflow: ellipsis;" title="{{item.Company}} &nbsp;-&nbsp;{{item.Symbol}}&nbsp;-&nbsp;{{item.Stock_exchange}}">{{item.Company}}
                                                        <span ng-hide="item.Symbol == ''">&nbsp;-&nbsp;</span>{{item.Symbol}}
                                                        <span ng-hide="item.Stock_exchange == ''">&nbsp;-&nbsp;</span>{{item.Stock_exchange}}</span>
                                                </span>
                                            </md-item-template>
                                        </md-autocomplete>
                                    </div>
                                    <div ng-if="!ctrl.selectedItem || ctrl.searchText) && ctrl.name" style="position: absolute;padding-top: 50px;padding-left: 52px; color:red">*required</div>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <button type="submit" class="btn btn-default btn-success searchbtn" 
                                        ng-click="ctrl.searchdetails()" ng-disabled="!(ctrl.selectedItem || ctrl.searchText)">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
    <div layout="column"  ng-if="ctrl.persondiv">
            <div flex style="margin: 0 10px" layout="column" layout-align="center center">
                <form name="form" flex layout="column" layout-align="center center" style="margin: 0">
                    <div style="min-width: 430px; width: 430px;">
                        <div layout="column" flex>
                            <div class="input-group" style="margin: 10px" flex>
                                <div class="input-group-addon" style="border: none">
                                    <img src="images/icons/icons/company-2.svg" style="width: 20px;">
                                </div>
                               <md-autocomplete md-autofocus md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                    md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)"
                                    md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display_string" md-min-length="0"
                                    placeholder="Select Company Name/Ticker from the list or Search for it" title="Enter Company">{{item.Symbol}}
                                    <md-item-template>
                                        <span class="item-title">
                                            <img ng-src="{{item.logo}}" ng-hide="item.logo == undefined" width="40" height="40" />
                                            <img src="https://career.utk.edu/wp-content/uploads/sites/56/2017/06/image_preview.jpg" ng-show="item.logo == undefined"
                                                width="40px" height="40px">
                                            <span style="overflow: hidden;text-overflow: ellipsis;" title="{{item.Company}} &nbsp;-&nbsp;{{item.Symbol}}&nbsp;-&nbsp;{{item.Stock_exchange}}">{{item.Company}}
                                                <span ng-hide="item.Symbol == ''">&nbsp;-&nbsp;</span>{{item.Symbol}}
                                                <span ng-hide="item.Stock_exchange == ''">&nbsp;-&nbsp;</span>{{item.Stock_exchange}}</span>
                                        </span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>
                            <div ng-if="!(ctrl.selectedItem || ctrl.searchText) && ctrl.name" style="position: absolute;padding-top: 50px;padding-left: 52px; color:red">*required</div>
                        </div>
                        <div layout="column" flex>
                            <div class="input-group" style="margin: 10px" flex>
                                <span class="input-group-addon" style="border: none">
                                    <img src="images/icons/icons/User-icon.svg" style="width: 20px;">
                                </span>
                                <input style="border:1px solid #75b73e !important; height: 40px; border-top-right-radius: 6px !important; border-bottom-right-radius: 6px !important;" type="text" title="Enter Individual Name" class="form-control"
                                    name="name" ng-model="ctrl.name" placeholder="Name">
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <button type="submit" class="btn btn-default btn-success searchbtn" 
                                ng-click="ctrl.searchdetails()" ng-disabled="(!ctrl.name)">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div layout="column" ng-if="ctrl.industrydiv">
            <div flex style="margin: 0 10px" layout="column" layout-align="center center">
                <form name="form" flex layout="column" layout-align="center center" style="margin: 0">
                    <div style="min-width: 430px; width: 430px;">

                        <div layout="column" flex>
                            <div class="input-group" style="margin: 10px" flex>
                                <div class="input-group-addon" style="border: none">
                                    <img src="images/icons/icons/industry-icon.svg" style="width: 15px;">
                                </div>
                                <md-select aria-label="industry" ng-change="(ctrl.industry == '') ? (ctrl.industry = 'Industry') : ''" ng-click="ctrl.industry = null"
                                    ng-model="ctrl.industry" style="height: 40px; padding: 0" data-placeholder="Industry">
                                    <md-option value="">
                                        <em>None</em>
                                    </md-option>

                                    <md-option value="Commercial Real Estate">Commercial Real Estate</md-option>
                                    <md-option value="Financials" ng-disabled="true">Financial Services</md-option>
                                    <md-option value="Technology" ng-disabled="true">Technology</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <button type="submit" class="btn btn-default btn-success" style="width: 100px !important; margin: 0 10px; border: none;height: 40px;min-width: 120px !important;background-color:#006a4d !important;font-size:20px;"
                                ng-click="ctrl.searchdetails()" ng-disabled="!(ctrl.industry)">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div> 

    </div>
  
    <div class="footer" layout="row">
        <div flex layout="row" layout-align="end center">
            <div>Powered by &nbsp;</div>
            <a target="_blank" href="https://merilytics.com/">
                <img alt="Merilytics" src="../../images/logo.png" width="120">
            </a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog flex="20" >
            <md-dialog-content>
                <div style="padding: 20px; text-align: center">Are you sure you want to log out?</div>
            </md-dialog-content>
        
            <md-dialog-actions layout="row">
                <md-button class="button1" ng-click="logout()">
                   Yes
                </md-button>
                <md-button class="button1" ng-click="cancel()">
                    No
                </md-button>
            </md-dialog-actions>
        </md-dialog>
      </script>